# Force Dart language recognition
*.dart linguist-language=Dart

# Ignore native platform files for language stats
*.kt linguist-vendored
*.kts linguist-vendored
*.swift linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.m linguist-vendored
*.mm linguist-vendored
*.java linguist-vendored
